h1 {
    color: white;
    font-size: 38px;
    /*font-family: "Segoe Script"*/
}
h2 {
    color: white;
    margin-top: 5px;
}
h3 {
    color: white;
    margin-bottom: 10px;
    margin-top: 20%;
}

body {
    background-color: lightgray;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%
}

form {
    color: white;
    /*font-family: "Segoe Script"*/
}

a:link {
    color: white;
    text-decoration: none
}

a:hover {
    color: black
}

input {
    color: lightgray;
    background-color: white;
    text-align: center;
}

.buttons {
    color: lightgray;
    background-color: white;
    text-align: center;
    margin-top: 10%;
}
.signup {
    background-color: lightgray;
    text-align: justify;
    text-after-overflow:none;
    margin-left: auto;
    margin-right:auto;
    width: 25%
}

img{
    /*margin-top:5%;*/
    width: 40%;
}
