h1 {
    color: white;
    font-size: 38px;
}
h2 {
    color: white;
    margin-top: 5px;
}
h3 {
    color: white;
    margin-bottom: 10px;
    margin-top: 5%;
}

body {
    background-color: lightgray;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#superdiv {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: salmon;
    padding-bottom: 30px;
    padding-top: 15px;
}

#parent {
    width: 100%;
}
#child {
    width: 100%;
    margin-top: 40px;
    font-size: x-large;

}
#main {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
}

#rull {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    margin-bottom: 40px;
    overflow-y:scroll;
    height:300px;
}

#seconddiv {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lightgreen;
}
#comment {
    width: 100%;
    text-align: initial;
    background-color: lightgreen;
    text-align: left;
}

#timediv {
    width: 100%;
    text-align: initial;
    background-color: lightgreen;
    text-align: left;
}

#formIndex {
    color: white;
    /*font-family: ""*/
    margin-top: 15px;
}

textarea {
    background-color: ghostwhite;
}

a:link {
    color: white;
    text-decoration: none
}

a:hover {
    color: black
}
input {
    color: lightgray;
    background-color: white;
    text-align: center;
}

.buttons {
    color: lightgray;
    background-color: white;
    text-align: center;
    margin-top: 10%;
}
.signup {
    background-color: lightgray;
    text-align: justify;
    text-after-overflow:none;
    margin-left: auto;
    margin-right:auto;
    width: 10%
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    font-size: xx-large;
    background-color: mediumseagreen;
}

#return {
    text-align: left;
    padding-left: 20px;
}

img{
    width: 40%;
}
ul {
    margin-top: 50px;
}
li {
    list-style: none;
}

#maindiv {
    border: solid;

}
#formThread {
    color: white;
    margin-top: 60px;
}

header > a:nth-child(1){
    padding-left: 20px;
    float: left;
}
header > a:nth-child(2) {
    float: right;
    padding-right: 47%;
}

