<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <link href="/cssfil.css" rel="stylesheet" type="text/css"/>
    <title>Play</title>
</head>

<body>
<div id="superdiv">
<div id="parent">
    <h1>Välkomen till din lobby, <span th:text="${UserName} "></span>!</h1>
    <h2>Vad vill du läsa om?</h2>

    <div id="child">
        <div th:each="thread : ${threads}">
            <a th:href="@{/thread/{threadId}/(threadId=${thread.threadId})}" th:text="${thread.title}"></a>
        </div>
    </div>
    <a href="/index.html">
        <button class="buttons" type="submit">Logout</button>
    </a>
</div>
</div>
</body>
<script src="data.js" type="text/javascript"></script>
</html>
