<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="/cssfil.css" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8"/>
</head>
<body>
<header id="header">
    <a href="/login" value="Tillbaka">Lobby
    </a><a th:text="${thread.title}"></a>
</header>
<div id="main">
    <form id="formThread" th:action="@{/thread/{id}(id=${threadId})}" method="post">
    <p>Inlägg om ämnet</p>
    <textarea name="text" rows="10" cols="50"></textarea>

    <input type="hidden" name="userId" th:value="${session.user.userId}"/>
    <p><input type="submit" value="Skicka"/></p>
    </form>
</div>
<div id="rull">
    <div id="maindiv" th:each="post : ${posts}">
        <div id="seconddiv">
        <a th:text="${post.text}"/>
        </div>
        <div id="comment">
        Skrivet av: <a th:text="${post.username}"/>
        </div>
        <div id="timediv">
        <time th:datetime="${post.entrydate}" th:text="${post.date}"/>
        </div>
    </div>

</div>
<footer>©urban broccoli</footer>
</body>
</html>