<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="/cssfil.css" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8"/>
</head>
<body>
<header id="header">
    Tråd: <span th:text="${title}"></span>
</header>
<div id="main">
    <ul>
        <li th:each="post : ${posts}">
           <a th:text="${post.text}"/>
            <a th:text="${post.username}"/>
        </li>
    </ul>
<form th:action="@{/thread/{id}(id=${threadId})}" method="post">
    Inlägg <textarea name="text" rows="10" cols="50"></textarea>
    <!--<input type="hidden" name="id" th:value="${thread.threadId}"/>-->

    <input type="hidden" name="userId" th:value="${session.user.userId}"/>

    <input type="submit" value="Skicka"/>
</form>
</div>
</body>
</html>